# Plugin definition
plugin.name = login-manager
plugin.version = 1.0.0
plugin.description = Lider Ahenk Login Manager Plugin
plugin.machine.oriented = true
plugin.user.oriented = true
plugin.policy.plugin = true
plugin.task.plugin = true
plugin.uses.file.transfer = false
plugin.x.based = false