Source: ahenk-screenshot
Section: unknown
Priority: optional
Maintainer: TUBITAK ULAKBIM
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.liderahenk.org.tr

Package: ahenk-screenshot
Version: 1.0.0
Architecture: any
Depends: python3 (>= 3), x11-apps, imagemagick, scrot
Description: Lider Ahenk screenshot plugin

