<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="tr.org.liderahenk.installer.rcp.tr.org.liderahenk.installer.rcp.mainview">
      <viewButton
            commandId="tr.org.liderahenk.installer.commands.LiderInstallationHandler"
            icon="lider-button.png"
            id="tr.org.liderahenk.installer.commands.LiderInstallationHandler">
      </viewButton>
   </extension>
   <extension
         id="tr.org.liderahenk.installer.lider.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
