<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:osgix="http://www.springframework.org/schema/osgi-compendium"
	xmlns:osgi="http://www.springframework.org/schema/osgi" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
           http://www.springframework.org/schema/osgi-compendium http://www.springframework.org/schema/osgi-compendium/spring-osgi-compendium.xsd
           http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:annotation-driven />
	<ctx:component-scan base-package="tr.org.liderahenk.web" />
	
	<mvc:resources mapping="/resources/**" location="/resources/theme1/" cache-period="31556926"/>

	<bean id="corsFilter" class="tr.org.liderahenk.web.filters.CorsFilter" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="StaticRealm" />
		<property name="cacheManager" ref="shiroCacheManager" />
	</bean>

	<bean id="shiroCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

	<!-- Define the Shiro Realm implementation you want to use to connect to 
		your back-end -->
	<!-- StaticRealm: -->
	<bean id="StaticRealm" class="tr.org.liderahenk.web.security.LiderLdapRealm"
		init-method="initRealm" />

	<bean id="credMatcher"
		class="org.apache.shiro.authc.credential.AllowAllCredentialsMatcher" />

	<!-- Shiro filter -->
	<bean id="ShiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="filters">
			<util:map>
				<entry key="myAuthcAuth">
					<bean class="tr.org.liderahenk.web.security.LiderAuthenticationFilter" />
				</entry>
			</util:map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/lider/policy/** = myAuthcAuth
				/lider/profile/** = myAuthcAuth
				/lider/plugin/** = myAuthcAuth
				/lider/task/** = myAuthcAuth
				/lider/report/** = myAuthcAuth
				/lider/agent/** = myAuthcAuth
				/lider/searchgroup/** = myAuthcAuth
				/** = myAuthcAuth
			</value>
		</property>
	</bean>

	<osgi:reference id="policyProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IPolicyRequestProcessor" />

	<osgi:reference id="profileProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IProfileRequestProcessor" />

	<osgi:reference id="pluginProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IPluginRequestProcessor" />

	<osgi:reference id="agentProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IAgentRequestProcessor" />

	<osgi:reference id="taskProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.ITaskRequestProcessor" />

	<osgi:reference id="reportProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IReportRequestProcessor" />

	<osgi:reference id="searchGroupProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.ISearchGroupRequestProcessor" />
		
	<osgi:reference id="configurationService"
		interface="tr.org.liderahenk.lider.core.api.configuration.IConfigurationService" />
		
	<osgi:reference id="operationLogService"
		interface="tr.org.liderahenk.lider.core.api.log.IOperationLogService" />

	<osgi:reference id="responseFactory"
		interface="tr.org.liderahenk.lider.core.api.rest.IResponseFactory" />
	
	<osgi:reference id="mailManagementProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IMailManagementRequestProcessor" />
		
	<osgi:reference id="registrationRequestProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IRegistrationRequestProcessor" />
		
	<osgi:reference id="userRequestProcessor"
		interface="tr.org.liderahenk.lider.core.api.rest.processors.IUserRequestProcessor" />
		
	<osgi:reference id="ldapProcessor"
		interface="tr.org.liderahenk.lider.core.api.ldap.ILDAPService" />

	<osgi:reference id="pluginDao"
		interface="tr.org.liderahenk.lider.core.api.persistence.dao.IPluginDao" />
		
	<osgi:reference id="serviceRegistry"
		interface="tr.org.liderahenk.lider.core.api.router.IServiceRegistry" />
		
</beans>