Source: ahenk-package-manager
Section: unknown
Priority: optional
Maintainer: TUBITAK ULAKBIM
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.liderahenk.org.tr

Package: ahenk-package-manager
Version: 1.0.0
Architecture: any
Depends: python3 (>= 3),acct,chkconfig
Description: Lider Ahenk package manager plugin

