# Plugin info
plugin.name = backup
plugin.version = 1.0.0
plugin.description = Lider Backup Plugin
plugin.machine.oriented = true
plugin.user.oriented = false
plugin.policy.plugin = true
plugin.task.plugin = true
plugin.uses.file.transfer = false
plugin.x.based = false