# Plugin definition
plugin.name = local-user
plugin.version = 1.0.0
plugin.description = Lider Ahenk local-user plugin
plugin.machine.oriented = true
plugin.user.oriented = false
plugin.policy.plugin = false
plugin.task.plugin = true
plugin.uses.file.transfer = false
plugin.x.based = false