Source: ahenk-remote-access
Section: unknown
Priority: optional
Maintainer: TUBITAK ULAKBIM
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.liderahenk.org.tr

Package: ahenk-remote-access
Version: 1.0.0
Architecture: any
Depends: python3 (>= 3), x11vnc
Description: Lider Ahenk remote access (VNC) plugin

