# Plugin info
plugin.name = wol
plugin.version = 1.0.0
plugin.description = Lider Wake-on-Lan (WOL) Plugin
plugin.machine.oriented = true
plugin.user.oriented = false
plugin.policy.plugin = false
plugin.task.plugin = true
plugin.uses.file.transfer = false
plugin.x.based = false