Source: ahenk-disk-quota
Section: unknown
Priority: optional
Maintainer: TUBITAK ULAKBIM
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.liderahenk.org.tr

Package: ahenk-disk-quota
Version: 1.0.0
Architecture: any
Depends: python3 (>= 3), quota, quotatool
Description: Lider Ahenk disk quota plugin

