<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="tr.org.liderahenk.installer.rcp.mainview" name="Exception Point for RCP Main View Buttons" schema="schema/tr.org.liderahenk.installer.rcp.mainview.exsd"/>
   <extension
         id="lider-ahenk-installer"
         point="org.eclipse.core.runtime.products">
      <product
            name="lider-ahenk-installer"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="lider-ahenk-installer">
         </property>
         <property
               name="windowImages"
               value="icons/liderahenk-16.png,icons/liderahenk-32.png">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="Lider - Ahenk Merkezi Yonetim Sistemi&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;(c) Copyright Tübitak, 2014.  All rights reserved.&#x0A;Visit http://www.tubitak.org.tr/&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://apache.org/">
         </property>
      </product>
   </extension>
</plugin>
