<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="tr.org.liderahenk.liderconsole.commands.category"
            name="%commands.category">
      </category>         
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ManageRootProfile"            
            name="%command.profile">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ManageRootTask"            
            name="%command.task">
      </command>
   </extension>
   
   <extension
       point="org.eclipse.ui.handlers">

		<!-- Profile handler -->
       	<handler
            class="tr.org.liderahenk.manageroot.handlers.ManageRootProfileHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ManageRootProfile">
           <!-- TODO Uncomment this after updating/fixing LiderSourceProvider -->
		   <!-- <enabledWhen>
				<and>
		          <with
		                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
		             <equals
		                   value="true">
		             </equals>
		          </with>
				<with
	                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
	             	<equals
		                   value="true">
		            </equals>
	          	</with>
		       </and>
		    </enabledWhen> -->        
      	</handler>
      	
      	<!-- Task handler -->
       <handler
            class="tr.org.liderahenk.manageroot.handlers.ManageRootTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ManageRootTask">
           <!-- TODO Uncomment this after updating/fixing LiderSourceProvider -->
		   <!-- <enabledWhen>
				<and>
		          <with
		                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
		             <equals
		                   value="true">
		             </equals>
		          </with>
				<with
	                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
	             	<equals
		                   value="true">
		            </equals>
	          	</with>
		       </and>
		    </enabledWhen> -->        
      </handler>
      
  </extension>
  
  <extension
         point="org.eclipse.ui.menus">

		<!-- Add menu command for "profile definition" dialog -->
		<menuContribution
            locationURI="menu:tr.org.liderahenk.liderconsole.menus.ProfileDefinition?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.ManageRootProfile"
                  id="tr.org.liderahenk.liderconsole.commands.ManageRootProfile"
                  tooltip="%command.profile">
                  <!-- TODO Uncomment this after updating/fixing LiderSourceProvider -->
				  <!-- <visibleWhen>
					   <and>
			                <iterate operator="or">		
			                	<or>
							  	<with
					                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSearchSelected">
						             <equals
						                   value="true">
						             </equals>
					          	</with>
					          	<with
					                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isEntrySelected">
						             <equals
						                   value="true">
						             </equals>
					          	</with>
					        	</or>
					        </iterate>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
					    </and>
					</visibleWhen> -->               
           		</command>
		</menuContribution>
      
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.ManageRootTask"
                  id="tr.org.liderahenk.liderconsole.commands.ManageRootTask"
                  tooltip="%command.task">
                  <!-- TODO Uncomment this after updating/fixing LiderSourceProvider -->
				  <!-- <visibleWhen>
					   <and>
			                <iterate operator="or">		
			                	<or>
							  	<with
					                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSearchSelected">
						             <equals
						                   value="true">
						             </equals>
					          	</with>
					          	<with
					                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isEntrySelected">
						             <equals
						                   value="true">
						             </equals>
					          	</with>
					        	</or>
					        </iterate>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
					    </and>
					</visibleWhen> -->               
           		</command>
		</menuContribution>
  </extension>
  
	<!-- Add extension point contribution for "policy execution" dialogs 
	<extension
  		point="tr.org.liderahenk.liderconsole.core.policymenu">
  		<policyItem label="%command.profile" pluginName="ManageRoot" pluginVersion="1.0.0" profileCommandId="tr.org.liderahenk.liderconsole.commands.ManageRootProfile" />
  	</extension>
  	-->
  	  	<extension
  		point="tr.org.liderahenk.liderconsole.core.taskmenu">
  		<taskItem label="%command.task" pluginName="ManageRoot" pluginVersion="1.0.0" 
  		taskCommandId="tr.org.liderahenk.liderconsole.commands.ManageRootTask" selectionType="multi" 
  		description="Toplu ya da tek tek root parolası değiştirmeye yarar." 
  		imagePath="conky.png"/>
  	</extension>
  	
  		<extension
         point="tr.org.liderahenk.liderconsole.core.i18n">
         <task code="SET_ROOT_PASSWORD" label="%command.task" />
        <plugin name="manage-root" label="%plugin.label" />
     </extension>
  	
</plugin>