# Plugin definition
plugin.name = firewall
plugin.version = 1.0.0
plugin.description = Lider Ahenk firewall plugin
plugin.machine.oriented = true
plugin.user.oriented = true
plugin.policy.plugin = true
plugin.task.plugin = true
plugin.uses.file.transfer = false
plugin.x.based = false