# Plugin info
plugin.name = remote-access
plugin.version = 1.0.0
plugin.description = Lider Remote Access (VNC) Plugin
plugin.machine.oriented = true
plugin.user.oriented = false
plugin.policy.plugin = false
plugin.task.plugin = true
plugin.uses.file.transfer = false
plugin.x.based = false